<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin-top: -15px; " href="">
                <!--        <img class="img-responsive" width="380px" height="50px"-->
                <!--             src="../../../assets/imgs/brain_browser_header.png">-->
                <h2 style="font-family: AppleGothic;color: #444444">Cichild Database</h2>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" *ngIf="isLoginMode===false">
            <ul class="nav navbar-nav navbar-left">
                <li class="mt-10 ml-200" *ngIf="isLoginMode===false">
                    <label class="switch">
                        <input type="checkbox" id="togBtn">
                        <div #viewModeSwitch class="slider round" (click)="changeViewMode()">
                            <!--ADDED HTML -->
                            <span class="on"> Database</span>
                            <span class="off">Tanks</span>
                            <!--END-->
                        </div>
                    </label>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">

                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn btn-block" data-toggle="modal" href="#actionsLogModal"
                           (click)="loadActionsLog()">Get actions log</a>

                        <a class="dropdown-item btn btn-block" data-toggle="modal" href="#freeNamesModal"
                        >Get free names</a>

                        <hr style="border:1px solid black">

                        <a class="dropdown-item btn btn-block" href="#" (click)="exportClutches()">Export clutches to CSV</a>
                        <input class="dropdown-item btn btn-block" type="text" [(ngModel)]="csvSeparator" class="form-control">

                        <hr style="border:1px solid black">

                        <a class="dropdown-item btn btn-block" href="#" (click)="createNewNameChar()">Create new name character</a>
                        <input class="dropdown-item btn btn-block" type="text" [(ngModel)]="newNameCharacter" class="form-control" placeholder="New name character">

                    </div>

                </li>

                <li>
                    <a href="" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span> Logout {{username}}
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
